<!-- Start: Footer -->
  <div class="footer-basic" style="padding: 10px;">
      <!-- Start: Copyright -->
      <p class="copyright">co-study-room © 2021</p>
      <!-- End: Copyright -->
</div>
<!-- End: Footer -->