body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.error {
  color: red;
}

.mark_area {
  border: solid #aaaaaa 1px;
  margin: 20px;
  padding: 10px 20px;
  min-height: 200px;
}

.chat_area {
  border: solid #aaaaaa 1px;
  padding: 5px 10px;
}
